<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Title</title>
        <!-- This is where we'll put the stylesheet public/css/styles.min.css that gulp made for us-->
    </head>
    <body>
    <div class="container">
        <h1 id="the-heading">Perfect Product Portfolio</h1>
        <section class="row">
            <nav class="col-sm-12 col-md-4">
                This is where the anchor links will go
            </nav>
        </section>
    </div>
        {{{body}}}
    </body>
</html>
