<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Perfect Product Portfolio</title>
        <link rel="stylesheet" href="/public/css/styles.min.css">
    </head>
    <body>
    {{{body}}}
    <script src="/public/js/tota11y.min.js"></script>
    </body>
</html>
