<div class="card">
    <div class="card-body">
<<<<<<< HEAD
        <p class="card-text">{{ProductList.Product1.Name}}</p>
        <img src="{{ProductList.Product1.Image}}" alt="Image">
=======
        <p class="card-text">This is text within a card body for the catalog</p>
>>>>>>> c405f3243173b8f36d1ebe841ca95949c15f85d0
    </div>
</div>

