@import 'variables';
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/code';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/modal';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/transitions';

body,
html {
  font-family: "Helvetica Neue", sans-serif;
  background: $body-background;
}

div {
  #page-title {
    color: $header-text-colors;
  }
}

div {
  #anchors {
    color: $link-color;
  }
}

div {
  .card {

    background: $card-background;

    .card-title {
      color: $card-header-text-colors;
    }

    .card-text {
      color: $main-text-color
    }
  }

}

.btn {
  background: $header-text-colors;
}

.modal-content {
  background: $modal-bg;

  .modal-body {
    color: #FFFFFF;
  }

  .modal-title {
    color: $header-text-colors;
  }
}

